* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#vis1, #vis2 {
  position: relative;
}

#info {
  position: absolute;
  right: 0;
  top: 40%;
  width: 20%;
  height: 20%;
  border: 2px solid black;
}