@import "../fonts/fonts.css";
@import "globals";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: bellotaregular, sans-serif;
  color: $blue1;
}
#container {
  min-height: 100%;
  position: relative;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;

  &:hover, &:focus {
    color: $blue2;
    @include transition(color, 0.5s, ease);
  }
}
#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  @include pixel-fallback("height", 4*$font_size_base);
  padding: 2em;
  text-align: right;
  color: $blue1;
  //@include font-size(2*$font_size_base);
  //@include pixel-fallback("margin-right", 2*$font_size_base);
}