/* colors */
nav {
  font-size: 2em; }
  nav div {
    cursor: pointer;
    position: fixed;
    top: 1rem;
    transition: color 0.5s ease; }
    nav div:hover {
      color: #056197; }
  nav #nav-back {
    left: 2rem;
    font-size: 1.25em;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  nav #nav-menu {
    right: 2rem; }

/* The Overlay (background) */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #2299dd;
  background-color: rgba(34, 153, 221, 0.9);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */ }

.overlay a:hover, .overlay a:focus {
  color: #056197; }

/* Position the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px !important;
  /* Override the font-size specified earlier (36px) for all navigation links */ }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px; } }
h1 {
  margin-top: 48px;
  margin-top: 3rem;
  font-size: 3em;
  text-align: center; }

#content {
  margin-top: 4em; }

#info-flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  min-height: 16em; }
  #info-flex fieldset {
    border: none;
    margin-right: 2em;
    margin-left: 2em; }
    #info-flex fieldset legend {
      padding-bottom: 1em; }
  #info-flex #info {
    max-width: 25em;
    min-width: 20em; }
  #info-flex #legend {
    max-width: 70em; }
    #info-flex #legend ul {
      list-style: none; }
    #info-flex #legend li {
      float: left;
      margin-right: 2em;
      height: 2em;
      min-width: 10em; }
    #info-flex #legend span {
      float: left;
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  #info-flex #backup-descr {
    display: none; }

#vis-cont {
  margin-right: 2em;
  display: flex;
  justify-content: center;
  overflow: hidden; }
  #vis-cont #vis {
    display: flex;
    justify-content: center; }
  #vis-cont .spacer {
    flex-basis: 30em;
    flex-shrink: 2; }
  #vis-cont #descr {
    flex-basis: 30em; }
    #vis-cont #descr #descr-ext {
      visibility: hidden; }
  #vis-cont #vis {
    flex-grow: 2; }
  #vis-cont a:before {
    content: '\027A4'; }

label {
  font-weight: bold; }
  label:before {
    content: '\021F5'; }
  label:hover, label:focus {
    color: #056197;
    -webkit-transition: color, 0.5s, ease;
    -moz-transition: color, 0.5s, ease;
    -ms-transition: color, 0.5s, ease;
    -o-transition: color, 0.5s, ease;
    transition: color, 0.5s, ease; }

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 1em;
  background: #2299dd;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 13px 17px 6px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 13px 17px 6px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 13px 17px 6px 0px rgba(50, 50, 50, 0.4); }
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 16px;
    width: 100%;
    line-height: 1;
    color: #2299dd;
    content: "\25BC";
    position: absolute;
    text-align: center; }
  .d3-tip.n:after {
    margin: -5px 0 0 0;
    top: 100%;
    left: 0; }
  .d3-tip.e:after {
    margin: -8px 2px 0;
    top: 50%;
    right: 50%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .d3-tip.w:after {
    margin: -8px 0 0 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }

@media only screen and (max-width: 1000px) {
  h1 {
    margin-top: 4rem;
    font-size: 2em; }

  #info-flex {
    flex-wrap: wrap;
    width: 100%; }
    #info-flex #backup-descr {
      display: block;
      width: auto; }
    #info-flex #info {
      min-width: 0;
      width: auto; }
    #info-flex fieldset {
      margin-top: 1em; }

  #vis-cont {
    margin: 0;
    display: block; }
    #vis-cont #vis {
      display: block;
      width: 100%; }
      #vis-cont #vis svg {
        width: 100%;
        height: 100%; }

  #descr {
    display: none; } }
@media only screen and (max-width: 650px) {
  #info-flex #backup-descr {
    display: block;
    width: 100%; }
  #info-flex #info {
    min-width: 0;
    width: 100%; } }

/*# sourceMappingURL=vis.css.map */
